
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: large;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
:root {
--main-background: #166534;
--secondary-background: #f7fee7;
}
ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    padding-bottom: 3rem;
    background-color: var(--main-background);
    color: white;
}
.logo {
    margin-right: auto;
}
.main {
    height: 90vh;
    display: grid;
    grid-template-areas: 
    'one one two two'
    'one one three three';
    background-color: var(--secondary-background);
}
.section {
    border:2px solid var(--main-background);
    border-radius: 30px;
    flex: 1;
    margin: 3rem;
}
.one {
    grid-area: one;
    background-color: white;
}
.two {
    grid-area: two;
    background-color: white;
}
.three {
    grid-area: three;
    background-color: white;
}
.footer {
    height: 30vh;
    background-color: var(--main-background);
}